@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* body {
    margin: 0;
    padding: 0;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 400px;
    box-sizing: border-box;
    margin:  auto;
    background-color: rgb(14, 130, 247);
   
      
}

.head {
    margin-top: 20px;
    text-align: center;
    color: rgb(253, 255, 255);
    background-color: rgb(255, 126, 20);
    padding: 2px 0px;
    font-size: 14px;
    
   
}

input  {
    display: block;
    margin: 10px 0px;
    width: 93%;
    padding: 12px;
  

}

label {
    color: antiquewhite;
}

.btn {
    display: block;
    margin-top: 20px;
    width: 100%;
    padding: 17px;
    background-color: crimson;
    border: rgb(230, 25, 25);
    color: white;
    font-family: 'Poppins', sans-serif;

}
.value {
    padding: 25px;
}

#love,#luname,#uname {
    
    font-size: medium;
}